<html>
    <head>
    </head>
    <body>
        <div class="form-container">
            <form [formGroup]="form" *ngIf="form" (ngSubmit)="createProduct()">
                <h2>Cadastrar novo produto</h2>
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" formControlName="nome" required>
                    <div *ngIf="form.get('nome')?.invalid && (form.get('nome')?.touched || form.get('nome')?.dirty)" class="error">
                        <small *ngIf="form.get('nome')?.errors?.['required']">Este campo é obrigatório.</small>
                    </div>
                </div>
          
                <div class="form-group">
                    <label for="descricao">Descrição:</label>
                    <textarea id="descricao" formControlName="descricao" required></textarea>
                    <div *ngIf="form.get('descricao')?.invalid && (form.get('descricao')?.touched || form.get('descricao')?.dirty)" class="error">
                        <small *ngIf="form.get('descricao')?.errors?.['required']">Este campo é obrigatório.</small>
                    </div>
                </div>
          
                <div class="form-group">
                    <label for="preco">Preço:</label>
                    <input type="number" id="preco" formControlName="preco" required>
                    <div *ngIf="form.get('preco')?.invalid && (form.get('preco')?.touched || form.get('preco')?.dirty)" class="error">
                        <small *ngIf="form.get('preco')?.errors?.['required']">Este campo é obrigatório.</small>
                    </div>
                </div>
          
                <div class="form-group">
                    <label for="categoria">Categoria:</label>
                    <select id="categoria" formControlName="categoria" required>
                        <option value="ELETRONICOS">Eletrônicos</option>
                        <option value="MOVEIS">Móveis</option>
                        <option value="BRINQUEDOS">Brinquedos</option>
                        <option value="ALIMENTOS">Alimentos</option>
                        <option value="BEBIDAS">Bebidas</option>
                        <option value="LIMPEZA">Limpeza</option>
                        <option value="HIGIENE">Higiene</option>
                        <option value="VESTUARIO">Vestuário</option>
                        <option value="CALCADOS">Calçados</option>
                        <option value="ACESSORIOS">Acessórios</option>
                        <option value="OUTROS">Outros</option>
                    </select>
                </div>
          
                <div class="form-group">
                    <label for="quantidade">Quantidade:</label>
                    <input type="number" id="quantidade" formControlName="quantidade" required>
                    <div *ngIf="form.get('quantidade')?.invalid && (form.get('quantidade')?.touched || form.get('quantidade')?.dirty)" class="error">
                        <small *ngIf="form.get('quantidade')?.errors?.['required']">Este campo é obrigatório.</small>
                    </div>
                </div>
                <button type="submit">Criar Produto</button>
                <div *ngIf="message" class="message" [ngClass]="{'is-invalid': isError}">{{message}}</div>
            </form>
          </div>
    </body>
</html>
    