.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .message {
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
  }
  
.message:not(.is-invalid) {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }
  
  .message.is-invalid {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
  
  input[type="number"],
  button {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333!important;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .color-button{
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
  }

  .color-button:hover {
    background-color: #8C7474;
  }

  
  