* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,body{
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar {
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #1B365C;
    color: white;
    
  }
  
  .navbar-header {
    display: flex;
  align-items: center; /* Centraliza os itens verticalmente */
  justify-content: space-between; /* Espaçamento entre os itens da navbar */
  background-color: #333; /* Cor de fundo da navbar */
  color: white; /* Cor da fonte */
  padding: 0 20px; /* Preenchimento lateral para não colar totalmente ao lado */
  height: 100px; /* Ajuste conforme necessário para altura da navbar */
  font-size: 40px;
  }
  
  .navbar-links {
    background-color: #BFB8BD; /* Um tom um pouco mais escuro */
    font-family: 'Times new roman', sans-serif;
  }
  
  .navbar-nav {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .navbar-nav li {
    padding: 10px;
  }
  
  .navbar-nav li a {
    color: #401612;
    text-decoration: none;
  }
  
  .active {
    border-bottom: 2px solid yellow; /* Indicador de aba ativa */
  }
  