<table *ngIf="products.length > 0">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Categoria</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.nome }}</td>
        <td>{{ product.descricao }}</td>
        <td>{{ product.preco | currency:'BRL' }}</td>
        <td>{{ product.quantidade }}</td>
        <td>{{ product.categoria }}</td>
      </tr>
    </tbody>
  </table>
  